.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #84AE92;
  color: #fff;
  padding: 12px;
  border-radius: 50%;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.scroll-to-top:hover {
  transform: scale(1.2);
  background-color: #5A827E;
}
